

/* body {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
} */

.hand {
  display: flex;
  flex-direction: row;
}

 .card {
  padding: fit-content;
  margin: 0 2vw 2vw 2vw;
  border: #333 1px solid;
  font-size: 2vw;
  color: #333;
  text-decoration: none;
  text-align: center;
  box-shadow: 2px 2px 3px #333;
  background-color: rgba(253, 136, 40, 0.95);
}