

.main {
  background-color: aqua;
}

.hand {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 200px;
  min-width: max-content;
}

 .card {
  display: flex;
  flex-flow: wrap-reverse;
  justify-content:space-around;
  width: 8rem;
  padding: fit-content;
  margin: 0 2vw 2vw 2vw;
  border: #333 1px solid;
  font-size: 2vw;
  color: #333;
  text-decoration: none;
  text-align: center;
  box-shadow: 2px 2px 3px #333;
  background-color: white;
}

.symbol {
  font-size: 2rem;
  margin: 1rem;
  max-height: 25%;
}